<button (click)="openPopup()">Open Committee Score Sheet Table</button>

<app-popup [isOpen]="isPopupOpen" (close)="closePopup()" [committees]="committees"
  (committeeChange)="onCommitteeChange($event)" (responseFilterChange)="onResponseFilterChange($event)">
  <ng-container scoresheet>
    <table class="main-table">
      <thead>
        <tr>
          <th>Member</th>
          <th>Category</th>
          <th>Section</th>
          <th>Section Weight</th>
          <th>Questions</th>
          <th>Question Weight</th>
          <ng-container *ngFor="let supplier of activeCommittee.members[0]?.suppliers">
            <th class="toggle-column">
              <div class="toggle-bar" [class.expanded]="isSupplierExpanded(supplier.name)">
              </div>
            </th>
            <ng-container *ngIf="isSupplierExpanded(supplier.name)">
              <th>Answers</th>
              <th>Score per Question</th>
              <th>Score per Category</th>
              <th>Score per Section</th>
            </ng-container>
          </ng-container>
        </tr>
      </thead>
      <tbody #tableBody>
        <ng-container *ngFor="let member of activeCommittee.members; trackBy: trackByMember">
          <ng-container *ngFor="let category of member.categories; let categoryIndex = index; trackBy: trackByCategory">
            <ng-container *ngFor="let section of category.sections; let sectionIndex = index; trackBy: trackBySection">
              <tr class="section-row">
                <td *ngIf="categoryIndex === 0 && sectionIndex === 0" [attr.rowspan]="getTotalRows(member)">{{
                  member.name }}</td>
                <td *ngIf="sectionIndex === 0" [attr.rowspan]="category.sections.length">{{ category.name }}</td>
                <td>{{ section.name }}</td>
                <td>{{ section.sectionWeight }}%</td>
                <td class="questions-column">
                  <div *ngFor="let question of section.questions" class="question-row">
                    <span class="question-text">{{ question.id }}</span>
                  </div>
                </td>
                <td class="weights-column">
                  <div *ngFor="let question of section.questions" class="question-row">
                    <span class="weight-text">{{ question.weight }}</span>
                  </div>
                </td>
                <ng-container *ngFor="let supplier of member.suppliers">
                  <td *ngIf="categoryIndex === 0 && sectionIndex === 0" class="toggle-column supplier-column"
                    [attr.data-member]="member.name" [attr.rowspan]="getTotalRows(member)">
                    <div class="toggle-bar" [class.expanded]="isSupplierExpanded(supplier.name)">
                      <button class="info-button" (click)="goToSupplierDetails(supplier, $event)">i</button>
                      <span>
                        <span class="supplier-name">{{ supplier.name }}</span>
                        <span class="supplier-score">{{ supplier.scorePercentage }}</span>
                      </span>
                      <button class="toggle-button" (click)="toggleSupplier(supplier.name, $event)">
                        {{ isSupplierExpanded(supplier.name) ? '-' : '+' }}
                      </button>
                    </div>
                  </td>
                  <ng-container *ngIf="isSupplierExpanded(supplier.name)">
                    <ng-container
                      *ngIf="supplier.data[getCombinedIndex(categoryIndex, sectionIndex, member)] as supplierData">
                      <td class="answers-column">
                        <div *ngFor="let question of section.questions" class="question-row">
                          <span class="answer-text">{{ supplierData.answers[question.id] }}</span>
                        </div>
                      </td>
                      <td class="scores-column">
                        <div *ngFor="let question of section.questions" class="question-row">
                          <span class="score-text">{{ supplierData.scores[question.id] }}</span>
                        </div>
                      </td>
                      <td>{{ supplierData.categoryScore }}</td>
                      <td>{{ supplierData.sectionScore }}</td>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </ng-container>

  <ng-container responses>
    <div class="responses-container">
      <div class="company-list">
        <div *ngFor="let company of selectedData" class="company-item">
          <div class="company-accordion">
            <details [attr.open]="isCompanyExpanded(company.name) ? '' : null">
              <summary (click)="toggleCompanyAccordions(company.name, $event)">
                {{ company.name }}
              </summary>
              <div class="accordion-content">
                <div class="response-sections">
                  <ng-container *ngIf="responseFilter !== 'all-shortlist-preaward'">
                    <div class="response-section committee-responses">
                      <h3 class="response-category">Committee Responses</h3>
                      <div *ngFor="let response of getResponses(company, 'committee')" class="response-card"
                        [ngClass]="{'shortlisted': response.shortlisted, 'not-shortlisted': !response.shortlisted, 'expanded': isCardExpanded(company.name, 'committee', response.name)}"
                        (click)="toggleCard(company.name, 'committee', response.name)">
                        <div class="response-header">
                          <div class="response-name-date">
                            <h4>{{ response.name }}</h4>
                            <p class="response-date">{{ response.datetime }}</p>
                          </div>
                          <div class="response-score-container">
                            <span class="score-text">Score: {{ response.score | number:'1.2-2' }}%</span>
                            <span class="status-blob"
                              [ngClass]="response.shortlisted ? 'shortlisted-blob' : 'not-shortlisted-blob'">
                              {{ response.shortlisted ? 'Shortlisted' : 'Not Shortlisted' }}
                            </span>
                          </div>
                        </div>
                        <div class="response-details" *ngIf="isCardExpanded(company.name, 'committee', response.name)">
                          <p>{{ response.committeeText }}</p>
                          <p>{{ response.comment }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="response-section nominee-responses">
                      <h3 class="response-category">Nominee Responses</h3>
                      <div *ngFor="let response of getResponses(company, 'nominee')" class="response-card"
                        [ngClass]="{'shortlisted': response.shortlisted, 'not-shortlisted': !response.shortlisted, 'expanded': isCardExpanded(company.name, 'nominee', response.name)}"
                        (click)="toggleCard(company.name, 'nominee', response.name)">
                        <div class="response-header">
                          <div class="response-name-date">
                            <h4>{{ response.name }}</h4>
                            <p class="response-date">{{ response.datetime }}</p>
                          </div>
                          <div class="response-score-container">
                            <span class="score-text">Avg Score: {{ response.score | number:'1.2-2'}}%</span>
                            <span class="status-blob"
                              [ngClass]="response.shortlisted ? 'shortlisted-blob' : 'not-shortlisted-blob'">
                              {{ response.shortlisted ? 'Shortlisted' : 'Not Shortlisted' }}
                            </span>
                          </div>
                        </div>
                        <div class="response-details" *ngIf="isCardExpanded(company.name, 'nominee', response.name)">
                          <p>{{ response.committeeText }}</p>
                          <p>{{ response.comment }}</p>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="responseFilter === 'all-shortlist-preaward'">
                    <div class="response-section shortlist-committee-responses">
                      <h3 class="response-category">Shortlist Committee Responses</h3>
                      <div *ngFor="let response of getResponses(company, 'shortlistCommittee')" class="response-card"
                        [ngClass]="{'shortlisted': response.shortlisted, 'not-shortlisted': !response.shortlisted, 'expanded': isCardExpanded(company.name, 'shortlistCommittee', response.name)}"
                        (click)="toggleCard(company.name, 'shortlistCommittee', response.name)">
                        <div class="response-header">
                          <div class="response-name-date">
                            <h4>{{ response.name }}</h4>
                            <p class="response-date">{{ response.datetime }}</p>
                          </div>
                          <div class="response-score-container">
                            <span class="score-text">Score: {{ response.score | number:'1.2-2' }}%</span>
                            <span class="status-blob"
                              [ngClass]="response.shortlisted ? 'shortlisted-blob' : 'not-shortlisted-blob'">
                              {{ response.shortlisted ? 'Shortlisted' : 'Not Shortlisted' }}
                            </span>
                          </div>
                        </div>
                        <div class="response-details"
                          *ngIf="isCardExpanded(company.name, 'shortlistCommittee', response.name)">
                          <p>{{ response.committeeText }}</p>
                          <p>{{ response.comment }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="response-section shortlist-nominee-responses">
                      <h3 class="response-category">Shortlist Nominee Responses</h3>
                      <div *ngFor="let response of getResponses(company, 'shortlistNominee')" class="response-card"
                        [ngClass]="{'shortlisted': response.shortlisted, 'not-shortlisted': !response.shortlisted, 'expanded': isCardExpanded(company.name, 'shortlistNominee', response.name)}"
                        (click)="toggleCard(company.name, 'shortlistNominee', response.name)">
                        <div class="response-header">
                          <div class="response-name-date">
                            <h4>{{ response.name }}</h4>
                            <p class="response-date">{{ response.datetime }}</p>
                          </div>
                          <div class="response-score-container">
                            <span class="score-text">Avg Score: {{ response.score | number:'1.2-2'}}%</span>
                            <span class="status-blob"
                              [ngClass]="response.shortlisted ? 'shortlisted-blob' : 'not-shortlisted-blob'">
                              {{ response.shortlisted ? 'Shortlisted' : 'Not Shortlisted' }}
                            </span>
                          </div>
                        </div>
                        <div class="response-details"
                          *ngIf="isCardExpanded(company.name, 'shortlistNominee', response.name)">
                          <p>{{ response.committeeText }}</p>
                          <p>{{ response.comment }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="response-section preaward-committee-responses">
                      <h3 class="response-category">Preaward Committee Responses</h3>
                      <div *ngFor="let response of getResponses(company, 'preawardCommittee')" class="response-card"
                        [ngClass]="{'shortlisted': response.shortlisted, 'not-shortlisted': !response.shortlisted, 'expanded': isCardExpanded(company.name, 'preawardCommittee', response.name)}"
                        (click)="toggleCard(company.name, 'preawardCommittee', response.name)">
                        <div class="response-header">
                          <div class="response-name-date">
                            <h4>{{ response.name }}</h4>
                            <p class="response-date">{{ response.datetime }}</p>
                          </div>
                          <div class="response-score-container">
                            <span class="score-text">Score: {{ response.score | number:'1.2-2' }}%</span>
                            <span class="status-blob"
                              [ngClass]="response.shortlisted ? 'shortlisted-blob' : 'not-shortlisted-blob'">
                              {{ response.shortlisted ? 'Shortlisted' : 'Not Shortlisted' }}
                            </span>
                          </div>
                        </div>
                        <div class="response-details"
                          *ngIf="isCardExpanded(company.name, 'preawardCommittee', response.name)">
                          <p>{{ response.committeeText }}</p>
                          <p>{{ response.comment }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="response-section preaward-nominee-responses">
                      <h3 class="response-category">Preaward Nominee Responses</h3>
                      <div *ngFor="let response of getResponses(company, 'preawardNominee')" class="response-card"
                        [ngClass]="{'shortlisted': response.shortlisted, 'not-shortlisted': !response.shortlisted, 'expanded': isCardExpanded(company.name, 'preawardNominee', response.name)}"
                        (click)="toggleCard(company.name, 'preawardNominee', response.name)">
                        <div class="response-header">
                          <div class="response-name-date">
                            <h4>{{ response.name }}</h4>
                            <p class="response-date">{{ response.datetime }}</p>
                          </div>
                          <div class="response-score-container">
                            <span class="score-text">Avg Score: {{ response.score | number:'1.2-2'}}%</span>
                            <span class="status-blob"
                              [ngClass]="response.shortlisted ? 'shortlisted-blob' : 'not-shortlisted-blob'">
                              {{ response.shortlisted ? 'Shortlisted' : 'Not Shortlisted' }}
                            </span>
                          </div>
                        </div>
                        <div class="response-details"
                          *ngIf="isCardExpanded(company.name, 'preawardNominee', response.name)">
                          <p>{{ response.committeeText }}</p>
                          <p>{{ response.comment }}</p>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </details>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</app-popup>